<%= render 'carsharings/header_inner_pages' %>
<section class='bg-gradient'>
  <div class="container">
    <div class="row sign-up">
      <div class='col-md-12'>
        <h2>Mettre à jour mon profil</h2>
      </div>
    </div>
    <div class="row" style="padding-top:0;">
      <div class="col">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="form-row mb-1 flex-center">
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="col-md-7">
              <%= f.text_field :first_name, class: 'form-control form-control-minimal', placeholder: 'Prénom*' %>
              <%= f.text_field :last_name, class: 'form-control form-control-minimal', placeholder: 'Nom*' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-minimal', placeholder: 'Email*' %>
              <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control form-control-minimal', placeholder: 'Mot de passe actuel*' %>
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control form-control-minimal', placeholder: 'Nouveau mot de passe (6 caractères minimum)*' %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control form-control-minimal', placeholder: 'Confirmer le nouveau mot de passe*' %>
              <%= f.label 'Index*'%>
              <%= f.select(:golf_level, options_for_select([["Entre 0 et 5", "Entre 0 et 5"], ["Entre 6 et 15", "Entre 6 et 15"], ["Entre 16 et 30", "Entre 16 et 30"], ["30+", "30+"], ["Non classé", "Non classé"]], current_user.golf_level)) %>
              <br>
              <%= f.label 'Ville*'%>
              <%= f.select(:city_id, options_for_select(City.pluck(:name, :id), current_user.city.id)) %>
              <%= f.text_area :description, class: 'form-control', rows: "6", placeholder: 'Description* (20 caractères minimum)'%>
              <%= f.label 'Photo de profil'%>
              <%= f.file_field :avatar %>
            </div>
          </div>
          <div class="form-row mt-12">
            <div class='col flex-center'>
              <%= f.submit "Mise à jour", class: 'btn btn-primary px-5' %>
            </div> 
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

