<section class='bg-gradient'>
  <div class="container">
    <div class='row' style="padding:0; margin:0; margin-top: 40px;">
      <div class='col-md-6'>
        <h2>S'inscrire</h2>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top:0;">
    <div class="col">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :multipart => true }) do |f| %>
        <div class='row'>
          <div class="col-md-6">
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class='col'>
                <%= f.text_field :first_name, class: 'form-control form-control-minimal', placeholder: 'Prénom' %>
              </div>

              <div class='col'>
                <%= f.text_field :last_name, class: 'form-control form-control-minimal', placeholder: 'Nom' %>
              </div>

              <div class="col">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-minimal', placeholder: 'Email' %>
              </div>
              <div class='col select-form'>
                <%= f.label 'Index'%>
                <%= f.select(:golf_level, options_for_select([["Entre 0 et 5", "Entre 0 et 5"], ["Entre 6 et 15", "Entre 6 et 15"], ["Entre 16 et 30", "Entre 16 et 30"], ["30+", "30+"]])) %>
              </div>

               <div class='col select-form'>
                <%= f.label 'Ville'%>
                <%= f.select(:city_id, options_for_select(City.pluck(:name, :id), target_blank: true )) %>
              </div>

              </div>
            <div class="col-md-6">
              <div class="col">
                <%= f.password_field :password, autocomplete: "new-password", class: 'form-control form-control-minimal', placeholder: 'Mot de passe (6 caractères minimum)' %>
              </div>

              <div class="col">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control form-control-minimal', placeholder: 'Comfirmer le mot de passe' %>
              </div>

              <div class="form-row mb-1">
                <div class='col'>
                  <%= f.text_area :description ,size: "60x5", class: 'form-control form-control-minimal', placeholder: 'Description'%>
                </div>
              </div>

              <div class='col'>
                <%= f.label 'Photo de profil'%>
                <%= f.file_field :avatar %>
              </div>

              </div>
              <div class="actions">
                <%= f.submit "Inscription", class: 'btn btn-primary px-5' %>
              </div>
            <% end %>
      </div>
    </div>
  </div>
</section>
