<blockquote class="boxed recipient">
  <p><%= pm.content %> </p>
  <footer class="blockquote-footer name"> Envoyé le <%= pm.created_at.day < 10 ? "0#{pm.created_at.day}" : "#{pm.created_at.day}" %>/<%= pm.created_at.month < 10 ? "0#{pm.created_at.month}" : "#{pm.created_at.month}" %>/<%= pm.created_at.year %> à <%= pm.created_at.hour %>h<%= pm.created_at.min < 10 ? "0#{pm.created_at.min}" : "#{pm.created_at.min}" %> </footer>
</blockquote>