<!-- Page header -->
<section class="page-header">
  <div class="image image-overlay"></div>
  <div class="container">
      <div class="col text-white text-shadow">
        <h2>Conversation entre <%= current_user[:first_name] %> et <%= user_by_id(params[:id]).first_name %></b></h2>
    </div>
  </div>
</section>

<!-- Message list -->
    <section id="default" class="component">
      <div class="tab-content" id="component-1">
        <div class="tab-pane show active bg-light" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
          <div class="component-example">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 blockquote-list">
                <% Privatemessage.all.each.with_index do |pm, index| %>
                 <% if (pm.recipient.id == current_user.id && pm.sender.id == user_by_id(params[:id]).id) || (pm.sender.id == current_user.id && pm.recipient.id == user_by_id(params[:id]).id) %>
                   <blockquote class="blockquote-2 boxed">
                    <p><%= pm.content %> </p>
                     <footer class="blockquote-footer"> <%= pm.sender.first_name %> </footer>
                   </blockquote>
                 <% end %>      
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <form class='' action=  <%= user_conversations_path(current_user) %> method="POST">
    <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
    <input type="hidden" name="recipient" value=<%= user_by_id(params[:id]).id %> >
    <div class='text-center'>
      <textarea name="content" class='form-control form-control-minimal text-center' placeholder='Votre message'></textarea>
      <input type="submit" value="Envoyer" class='btn btn-outline-primary px-5'>
    </div>
  </form>