<!-- Page header -->
<section class="page-header">
  <div class="image image-overlay"></div>
  <div class="container">
      <div class="col text-white text-shadow">
        <h2>Conversation entre <%= current_user[:first_name] %> et <%= user_by_id(params[:id]).first_name %></b></h2>
    </div>
  </div>
</section>

<!-- Message list -->
    <section id="default" class="component">
      <div class="tab-content" id="component-1">
        <div class="tab-pane show active bg-light" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
          <div class="component-example">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                <% Privatemessage.all.each.with_index do |pm, index| %>
                 <% if (pm.recipient.id == current_user.id && pm.sender.id == user_by_id(params[:id]).id) || (pm.sender.id == current_user.id && pm.recipient.id == user_by_id(params[:id]).id) %>
                    <% if (pm.sender.id == current_user.id)%>
                      <%= render 'private_message_sender', pm: pm %>
                    <% else %>
                      <%= render 'private_message_recipient', pm: pm %>
                    <%end%>
                 <% end %>      
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <%= form_tag(user_conversations_path(current_user), method: :post, remote: true, id: 'pmForm') do %>
    <div class='text-center'>
      <%= hidden_field_tag(:authenticity_token, form_authenticity_token)%>
      <%= hidden_field_tag(:recipient, user_by_id(params[:id]).id) %>
      <%= text_area_tag(:content, nil ,placeholder: 'Votre message', class: 'form-control form-control-minimal text-center') %>
      <%= submit_tag('Envoyer', class: 'btn btn-outline-primary px-5')%>
    </div>
  <%end%>
  