<div class="row gutter-1 mb-2">
  <div class="col-6 col-md-4 col-lg-3">
    <div class="equal">
      <div class="boxeds">
        <div class="equal-header">
          <span class="text-muted">Membre depuis</span>
        </div>
        <div class="equal-footer">
          <b class="h4"><%= @user.created_at.day < 10 ? "0#{@user.created_at.day}" : "#{@user.created_at.day}" %>/<%=@user.created_at.month < 10 ? "0#{@user.created_at.month}" : "#{@user.created_at.month}" %>/<%=@user.created_at.year %></b>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="equal">
      <div class="boxed">
        <div class="equal-header">
          <span class="text-muted">Handicap</span>
        </div>
        <div class="equal-footer">
          <b class="h4"><%= @user.golf_level %></b>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-3">
    <div class="equal">
      <div class="boxed">                      
        <div class="equal-header">
          <span class="text-muted">Covoiturages proposés</span>
        </div>
        <div class="equal-footer">
          <b class="h2"><%= carsharing_as_driver(@user.id) %></b>
        </div>
      </div>
    </div>
  </div>  
  <div class="col-6 col-md-4 col-lg-3">
    <div class="equal">
      <div class="boxed">                      
        <div class="equal-header">
          <span class="text-muted"> Covoiturages rejoins</span>
        </div>
        <div class="equal-footer">
          <b class="h2"><%= carsharing_as_passenger(@user.id) %></b>
        </div>
      </div>
    </div>
  </div>                  
</div>