<%= render 'carsharings/header_inner_pages' %>
<!-- Page header -->
<section class="page-header bg-gradient-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12 text-center">
        <h2>Mon profil</b></h2>
      </div>
    </div>    
  </div>
</section>

<!-- Content -->
<div class="bg-gradient-2">
  <br>
  <!-- Profile part I -->
  <div class="row justify-content-center align-items-end" style="padding-top:0;">
    <div class="col col-md-10 col-lg-8">
      <div class="row align-items-center" style="padding-top:0;">
        <div class="col-4 col-lg-3">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, class: "mr-3 avatar avatar-xl rounded" %>
          <% else %>
            <%= image_tag "profile-pic-test.jpg", class: "mr-3 avatar avatar-xl rounded" %>
          <% end %>
        </div>
        <div class="col">
          <div class="row align-items-center">
            <div class="col-md-8">
              <h3 class="mb-0"> <%= @user.first_name %> <%= @user.last_name %> </h3>
              <% if reviews_nb_by_driver(params[:id]) == 0 %>
                <span class="text-muted"><i class="fas fa-star"></i> Aucun avis</span>
              <% else %>
                <span class="text-muted"><i class="fas fa-star"></i> <%= average_grade_by_driver(params[:id]) %> - <%= reviews_nb_by_driver(params[:id]) %> avis</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Profile part II -->
  <!-- Summary -->
  <div class="container" style="margin-bottom:0;">
    <div class="row justify-content-center" style="padding-top:30px;">
      <div class="col col-md-10 col-lg-8">
        <div class="nav nav-tabs mb-1">
          <a class="nav-item nav-link active" data-toggle="tab" href="#demo-2-1">Profil</a>
          <% if @carsharing.where(driver_id: params[:id]).count != 0 %>
            <a class="nav-item nav-link" data-toggle="tab" href="#demo-2-2">Covoiturages</a>
          <% end%>
          <% if user_signed_in? && current_user.id == @user.id %>
            <a class="nav-item nav-link" data-toggle="tab" href="#demo-2-4">Conversations</a>
          <% end %>
          <% if reviews_nb_by_driver(params[:id]) != 0 %>
            <a class="nav-item nav-link" data-toggle="tab" href="#demo-2-3">Avis</a>
          <% end%>
        </div>
      </div>
    </div>
  </div>  
  <!-- Detail -->
  <div class="container" style="margin-top:0;">
    <div class="tab-content" id="demo-2">
      <!-- Profile -->
      <div class="tab-pane show active" id="demo-2-1" role="tabpanel" aria-labelledby="demo-2-1">
        <div class="row justify-content-center" style="padding-top:0;">
          <div class="col-md-10 col-lg-8">                
            <%= render 'profile' %>
          </div>
        </div>
      </div>
      <!-- Carsharing list -->
      <div class="tab-pane" id="demo-2-2" role="tabpanel" aria-labelledby="demo-2-2">          
        <div class="row justify-content-center" style="padding-top:0;">
          <div class="col-md-10 col-lg-8">
            <%= render 'carsharing_list' %>
          </div>
        </div>
      </div>
      <!-- Reviews -->
      <div class="tab-pane" id="demo-2-3" role="tabpanel" aria-labelledby="demo-2-3">
        <div class="row justify-content-center" style="padding-top:0;">
          <div class="col-md-10 col-lg-8">              
            <%= render 'review'%>
          </div>
        </div>
      </div>   
      <!-- Conversations -->
      <div class="tab-pane" id="demo-2-4" role="tabpanel" aria-labelledby="demo-2-2">          
        <div class="row justify-content-center" style="padding-top:0;">
          <div class="col-md-10 col-lg-8">
            <%= render 'conversation_list' %>
            <div class="text-center">
              <%= link_to "Nouvelle conversation", new_privatemessage_path, class: "btn btn-primary btn-sm btn-rounded" %>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class="text-center">
    <br>
    <% if current_user && current_user.id == params[:id].to_i %>
      <%= link_to "Supprimer mon profil", user_path(current_user), class: "btn btn-sm btn-secondary", :confirm => "Es-tu sûr?", method:"delete" %>
    <% end %>
  </div>
</div>


