<div class='bg-gradient'>
  <div class="container">
    <div class="row" style="padding-top:0;">
      <div class="col">
      <%= form_tag url_for(action: 'create'), method: "post", multipart: true do %>
        <div class="form-row mb-1 flex-center">
        <div class="col-md-7">

          <%= label_tag 'Nom du Golf*' %>
            <%= text_field_tag 'name', @golf.name, class: "form-control mb-1", placeholder: "Nom du Golf" %>
          
          <%= label_tag 'Type de parcours*' %>
            <%= select_tag(:course_type, options_for_select(Golf.pluck(:course_type).uniq, target_blank: true )) %>

          <%= label_tag 'Description*' %>
            <%= text_field_tag 'description', @golf.description, class: "form-control mb-1", placeholder: "Description" %>

          <%= label_tag 'Image*' %> 
            <%= file_field_tag :golf_image %>
          <br>
          <%= label_tag 'Latitude*' %>
            <%= text_field_tag 'lat', @golf.lat, class: "form-control mb-1", placeholder: "Latitude" %>
          
          <%= label_tag 'Longitude*' %>
            <%= text_field_tag 'long', @golf.long, class: "form-control mb-1", placeholder: "longitude" %>
                  
          <%= label_tag 'Prix' %>
            <%= select_tag(:price_range, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4]])) %>
          
          <%= label_tag 'Par*' %>
            <%= text_field_tag 'par', @golf.par, class: "form-control mb-1", placeholder: "Par" %>
          
          <%= label_tag 'Longueur du parcours*' %>
            <%= text_field_tag 'length', @golf.length, class: "form-control mb-1", placeholder: "Longueur" %>
            
          <%= label_tag 'Site web*' %>
            <%= text_field_tag 'website', @golf.website, class: "form-control mb-1", placeholder: "Site web" %>
            
            </div>
          </div>
            <div class="form-row mt-12">
              <div class='col flex-center'>
                <%= submit_tag "Créer",  class: "btn btn-primary px-5" %>
              </div> 
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
            





