<section class='bg-light'>
  <div class='container'>
    <div class='row'>
      <div class='col'>
      <%= form_tag golf_path, method: "patch" do %>
        <div class="form-row mb-1">
          <div class="col-md-6">
            <div class='col'>
              <%= label_tag 'Name' %>
              <input type="string" class="form-control form-control-minimal" id="exampleFormControlInput1" placeholder="<%=@golf.name%>">
            </div>
            <div class='col select-form'>
              <%= label_tag 'Course type' %>
              <%= select_tag(:course_type, options_for_select([['9 trous', "9 trous"], ['9 trous compact', "9 trous compact"], ['18 trous', "18 trous compacts"]])) %>
            </div>
            <div class='col select-form'>
            <%= label_tag 'Price range' %>
              <%= select_tag(:price_range, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4]])) %>
            </div>
          </div>
          <div class="col-md-6">
            <div class='col select-form'>
              <%= label_tag 'Latitude' %>
              <input type="string" class="form-control form-control-minimal" id="lat" placeholder="<%=@golf.lat%>">
            </div> 
            <div class='col'>
              <%= label_tag 'Longitude' %>
              <input type="string" class="form-control form-control-minimal" id="long" placeholder="<%=@golf.long%>">
            </div>
            <div class='col'>
              <%= text_area_tag 'description' , nil , class: 'form-control form-control-minimal', placeholder: 'Description' %>
            </div>
          </div>
            <br>
        </div>
        <%= submit_tag "Modifier",  class: "btn btn-primary px-5" %>
      <% end %>
    </div>
  </div>
</section>

<div class="btn btn-light">
    <%= link_to "Back", :back %>
</div>
