<section class="">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h2>Golfs <b>référencés</b></h2><br>
            <%= link_to "Ajouter un Golf", new_admin_golf_path, class: "btn btn-secondary btn-rounded" %>
          </div> 
        </div>
        <div>
        </div>
        <div class="row">
          <div class="col">
            <div class="table-responsive-md">
              <table class="table table-lined">
                <thead>
                  <tr>
                    <th scope="col"><b>Name</b></th>
                    <th scope="col"><b>Description</b></th>
                    <th scope="col"><b>Price</b></th>
                    <th scope="col"><b>Course type</b></th>
                    <th scope="col"><b>Detail</b></th>
                  </tr>
                </thead>
                <tbody>
                <% @golfs.each do |i|%>
                  <tr>
                    <th scope="row"><%=i.name%></th>
                    <td><%=i.description%></td>
                    <td><%=i.price_range%></td>
                    <td><%=i.course_type%></td>
                    <td>
                    <%= link_to '<i class="fas fa-eye fa-1x"></i>'.html_safe, golf_path(i), method: "get", class:""  %>
                    <%= link_to '<i class="fas fa-edit fa-1x"></i>'.html_safe, edit_admin_golf_path(i), method: "get", class:""  %>  
                    <%= link_to '<i class="fas fa-trash-alt fa-1x"></i>'.html_safe, admin_golf_path(i), method: "delete", class:"", data: { confirm: "Etes-vous sûr ?" } %>
                    </td>  
                  </tr>

                  <%end%>
                 
                
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>