<div class="col-md-6 col-lg-4">
  <div class="card card-minimal">
    <a href="" class="card-img-container">
    <% if golf.avatar.attached? %>
      <%= link_to image_tag(golf.golf_image, style: "height: 230px; width: 400px;"), golf_path(golf.id) %>
    <% else%>
      <%= image_tag "golf-de-sperone-bonifacio-vuedrone-corse.jpg", style: "height: 230px; width: 400px;" %>
    <% end %>
    </a>
    <div class="card-body">
      <h5 class="card-title"><%= link_to "#{golf.name}", golf_path(golf.id) %></h5>
      <% if comments_by_golf(golf.id).count == 0 %>
        <p class="card-title"> <%= golf.course_type %> | Aucun avis </p>
      <% else %>
        <p class="card-title"> <%= golf.course_type %> | <i class="fas fa-star"></i> <%= comments_by_golf(golf.id).sum(:grade) / comments_by_golf(golf.id).count %> - <%= comments_by_golf(golf.id).count %> avis </p>
      <% end %>
    </div>
  </div>
</div>
