<%= render 'carsharings/header_inner_pages' %>
<!-- Page header -->
<section class="page-header bg-gradient-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12 text-center">
        <% if params[:term] %>
          <h2>Résultats de ma recherche</h2>        
        <% else %>
          <h2>Les golfs les mieux notés</h2>
        <% end %>
      </div>
    </div>    
  </div>
</section>

<!-- Content -->

<%= form_tag(golfs_path, method: :get) do %>
  <%= text_field_tag :term, params[:term], class:'golf-autocompletion' %>
  <%= submit_tag 'Search', name: nil  %>
<% end %>

<div class="bg-gradient-2">
  <br>
  <div class="flex">
    <% if params[:term] %>
      <% @golfs.order(average_grade: :desc).each do |golf| %>
        <%= render 'card', golf: golf %>
      <% end %>
    <% else %>
      <% @golfs.order(average_grade: :desc).first(3).each do |golf| %>
        <%= render 'card', golf: golf %>
      <% end %>
    <% end %>
  </div>
</div>

