<%= render 'carsharings/header_inner_pages' %>
<!-- Page header -->
<section class="page-header bg-gradient-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12 text-center">
        <h2><%= @golf.name %></h2>
      </div>
    </div>    
  </div>
</section>

<!-- Content -->
<div class="bg-gradient-2">
  <br>
  <div class="flex-center">
    <%= link_to "Réserver un covoiturage", golf_golfcarsharings_path(params[:id]), class: "btn btn-primary btn-rounded" %>
  </div>
  <div class="row align-items-center" style="padding-top:15px; padding-bottom:15px;">
    <%= render 'golf_features' %>
  </div>
  <div class="flex">
    <div class="col-md-6" style="padding-left:10px;">
    <% if @golf.golf_image.attached? %>
      <%= image_tag @golf.golf_image, alt: 'IMAGE', style: "height: 400px; width: 700px;" %>
    <% else %>
      <%= image_tag "golf-de-sperone-bonifacio-vuedrone-corse.jpg", style: "height: 400px; width: 700px;" %>
    <% end %>
    </div>
    <div class="col-md-6" style="padding-top:40px;">
      <div class="description-height" style="overflow:scroll;">
        <p class="lead"><%= @golf.description %></p>
      </div>
      <hr class="w-25" style="margin-top:15px; margin-bottom:15px;">
      <div class="comment-height">
        <% if @comments.count > 0 %>
          <p style="font-style: italic;"><%= @comment.content %></p>
          <h6><i class="fas fa-star"></i> - <%= @comment.grade %> | <%= @comment.user.first_name %> <%= @comment.user.last_name %> - <%= @comment.created_at.day < 10  ? "0#{@comment.created_at.day}" : "#{@comment.created_at.day}" %>/<%= @comment.created_at.month < 10 ? "0#{@comment.created_at.month}" : "#{@comment.created_at.month}" %>/<%= @comment.created_at.year %></h6>
        <% else %>
          <h6> Sois le premier à laisser ton avis sur ce  golf.</h6>
        <% end %>
      <div class="text-center">
        <%= link_to "Laisser un commentaire", new_golf_golfcomment_path(@golf.id), class: "btn btn-sm btn-secondary" %>
      </div>
      </div>
    </div>
  </div>
</div>


