<!-- Page header -->
<section class="page-header bg-gradient-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12 text-center">
        <h2><%= @golf.name %></h2>
      </div>
    </div>    
  </div>
</section>

<!-- Content -->
<div class="bg-gradient-2">
  <br>
  <div class="flex-center">
    <%= link_to "Réserver un covoiturage", golf_golfcarsharings_path(params[:id]), class: "btn btn-outline-primary btn-rounded" %>
  </div>
  <div class="row align-items-center" style="padding-top:15px; padding-bottom:15px;">
    <%= render 'golf_features' %>
  </div>
  <div class="flex">
    <div class="col-md-6" style="padding-left:10px;">
       <%if @golf.golf_image.attached?%>
      <%= image_tag @golf.golf_image, alt: 'IMAGE' %>
      <%else%>
      <p>=== Il n'y a pas encore d'image liée à ce golf ===</p>
      <%end%>
    </div>
    <div class="col-md-6" style="padding-top:40px;">
      <div class="description-height" style="border:2px red solid; overflow:scroll;">
        <p class="lead"><%= @golf.description %></p>
      </div>
      <hr class="w-25" style="margin-top:15px; margin-bottom:15px;">
      <div class="comment-height" style="border:2px red solid;">
        <div class="text-center">
          <%= link_to "Laisser un commentaire", new_golf_golfcomment_path(@golf.id), class: "btn btn-sm btn-primary" %>
        </div>
        
     
        
      </div>
    </div>
  </div>
</div>


