<%= render 'carsharings/header_inner_pages' %>
<!-- Page header -->
<section class="page-header bg-gradient-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-12 text-center">
        <h2><%= @golf.name %></h2>
      </div>
    </div>    
  </div>
</section>

<!-- Content -->
<div class="bg-gradient-2">
  <br>
  <div class="flex-center">
    <%= link_to "Réserver un covoiturage", golf_golfcarsharings_path(params[:id]), class: "btn btn-outline-primary btn-rounded" %>
  </div>
  <div class="row align-items-center" style="padding-top:15px; padding-bottom:15px;">
    <%= render 'golf_features' %>
  </div>
  <div class="flex">
    <div class="col-md-6" style="padding-left:10px;">
       <%if @golf.golf_image.attached?%>
      <%= image_tag @golf.golf_image, alt: 'IMAGE' %>
      <%else%>
      <p>=== Il n'y a pas encore d'image liée à ce golf ===</p>
      <%end%>
    </div>
    <div class="col-md-6" style="padding-top:40px;">
      <div class="description-height" style="overflow:scroll;">
        <p class="lead"><%= @golf.description %></p>
      </div>
      <hr class="w-25" style="margin-top:15px; margin-bottom:15px;">
      <div class="comment-height">
        <% if @comments.where(golf_id:@golf.id).count > 0 %>
          <h5><%= @comments.where(golf_id:@golf.id).sample.content %></h5>
          <h6><i class="fas fa-star"></i> - <%= @comments.where(golf_id:@golf.id).sample.grade %></h6>
          <p><%= @comments.sample.user.first_name %> <%= @comments.sample.user.last_name %> - <%= @comments.sample.created_at.day < 10  ? "0#{@comments.sample.created_at.day}" : "#{@comments.sample.created_at.day}" %>/<%= @comments.sample.created_at.month < 10 ? "0#{@comments.sample.created_at.month}" : "#{@comments.sample.created_at.month}" %>/<%= @comments.sample.created_at.year %></p>
        <% else %>
          <h6> Sois le premier à laisser ton avis sur ce  golf.</h6>
        <% end %>
      <div class="text-center">
        <%= link_to "Laisser un commentaire", new_golf_golfcomment_path(@golf.id), class: "btn btn-sm btn-primary" %>
      </div>
      </div>
    </div>
  </div>
</div>


