<!-- hero -->
<section class="hero hero-with-header">


<div class="image image-overlay image-blur" style="background-image:url(https://www.bonifacio.fr/wp-content/uploads/2017/06/golf-de-sperone-bonifacio-vuedrone-corse.jpg.jpg)"></div>


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">
        <h1> Le golf de :<b><%=@golf.name%></b></h1>
      </div>
    </div>
  </div>    
</section>
<!-- / hero -->


<!-- services -->
<section class="pt-0 pattern pattern-dark">
  <div class="container">
    <div class="row boxed separated">
      <div class="col-md-6 col-lg-4 p-5 text-center">
        <i class="svg-icon w-50 equal">
          <span>
          <i class="fas fa-user-clock"></i>
          </span>
        </i>
        <h4 class="fs-24 font-weight-normal">Les horaires</h4>
        <p>Lundi<br>
            mardi<br>
            mercredi<br>
            jeudi<br>
            vendredi<br>
            samedi<br>
            dimanche<br>
            </p>
      </div>
      <div class="col-md-6 col-lg-4 p-5 text-center">
        <i class="svg-icon w-50 equal">
          <span>
          <i class="fas fa-money-bill-alt"></i>
          </span>
        </i>
        <h4 class="fs-24 font-weight-normal">Les tarifs</h4>
        <p>£££ <br> 
            $$$ <br>
            €€€ <br>
            </p>
      </div>
      <div class="col-md-6 col-lg-4 p-5 text-center">
        <i class="svg-icon w-50 equal">
          <span>
          <%= image_tag "img-golf-trou.jpg", class: "golf-flag" %>
        
          </span>
        </i>
        <h4 class="fs-24 font-weight-normal">Le parcours</h4>
        
        <p>18 / 9 trous</p>
      </div>
      <div class="col-md-6 col-lg-4 p-5 text-center">
        <i class="svg-icon w-50 equal">
          <span>
          <i class="fas fa-utensils"></i>
          </span>
        </i>
        <h4 class="fs-24 font-weight-normal">Les services</h4>
        <p>Restauration, shop, ... </p>
      </div>
      <div class="col-md-6 col-lg-4 p-5 text-center">
        <i class="svg-icon w-50 equal">
          <span>
          <i class="fas fa-trophy"></i>
          </span>
        </i>
        <h4 class="fs-24 font-weight-normal">Evènements</h4>
        <p>Prochains évènements</p>
      </div>
      <div class="col-md-6 col-lg-4 p-5 text-center">
        <i class="svg-icon w-50 equal">
          <span>
          <i class="fas fa-golf-ball"></i>          </span>
        </i>
        <h4 class="fs-24 font-weight-normal">Le site officiel</h4>
        <p>  <a href="https://www.golfdesperone.com/">Visit site</a> </p>
      </div>
    </div>
  </div>
</section>
<!-- / services -->


<!-- testimonials -->
<section class="bg-white separator-top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h2>Ils nous parlent de <b> <%=@golf.name%></b></h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col"> pb de js le owl carousel ne se charge pas
        <div class="owl-carousel" data-items="[2,1]" data-autoplay="true" data-dots="true" data-loop="true" data-margin="50">   
          <blockquote class="blockquote blockquote-1">
            <p><%=@comments.where(golf_id:@golf)[0].content%></p>   <!-- get the content of the first input of the table golfcomment linked to @golf id -->
            <footer class="blockquote-footer">
            <%=User.find(@comments.where(golf_id:@golf)[0].user_id).first_name%>
            </footer>          
          </blockquote>


          <blockquote class="blockquote blockquote-1">
            <p><%=@comments.where(golf_id:@golf)[1].content%></p>  <!-- get the content of the 2nd input of the table golfcomment linked to @golf id -->
            <footer class="blockquote-footer">
            <%=User.find(@comments.where(golf_id:@golf)[1].user_id).first_name%>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /testimonial -->
