<!-- Page header -->
<section class="page-header">
  <div class="image image-overlay"></div>
  <div class="container">
      <div class="col text-white text-shadow">
        <h2> <%= @golf.name %></b></h2>
        <%= link_to "Covoiturages vers ce golf", golf_golfcarsharings_path(params[:id]), class: "btn btn-outline-white btn-rounded" %>
    </div>
  </div>
</section>

<!-- Golf features -->
<section id="default" class="component">
  <div class="container">
    <div class="row align-items-center">
      <ul class="feature-list gutter-1 list-width">
        <li>
          <div class="media bordered rounded p-2 align-items-center">
            <i class="fab fa-font-awesome-flag fa-2x"></i>
            <div class="media-body">
            <div class="feature-size">
              <span class="feature-content"><%= @golf.course_type %></span>
            </div>
            </div>
          </div>
        </li>
        <li>
          <div class="media bordered rounded p-2 align-items-center">
            <i class="fas fa-golf-ball fa-2x"></i>
            <div class="media-body">
            <div class="feature-size">
              <span class="feature-content"> <%= @golf.par %> </span>
            </div>
            </div>
          </div>
        </li>
        <li>
          <div class="media bordered rounded p-2 align-items-center">
            <i class="fas fa-ruler fa-2x"></i>
            <div class="media-body">
            <div class="feature-size">
              <span class="feature-content"> <%= @golf.length %> </span>
            </div>
            </div>
          </div>
        </li>
        <li>
          <div class="media bordered rounded p-2 align-items-center">
            <i class="fas fa-money-bill-alt fa-2x"></i>
            <div class="media-body">
              <div class="feature-size">
                <h4 class="feature-content"> <%= price_range_display(@golf.price_range) %> </h4>
              </div>      
            </div>
          </div>
        </li>
        <li>
          <div class="media bordered rounded p-2 align-items-center">
            <i class="fas fa-at fa-2x"></i>
            <div class="media-body">
            <div class="feature-size">
              <span class="feature-content"><%= link_to "Site web", @golf.website, target: :_blank %></span>
              </div>
            </div>
          </div>
        </li>
      </ul>  
    </div>
  </div>
</section>

<!-- Description -->
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <p class="lead"><%= @golf.description %></p>
        <hr class="w-25">
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="bg-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <%= link_to "Laisser un commentaire", new_golf_golfcomment_path(@golf.id), class: "btn btn-outline-primary btn-rounded" %> 
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col"> 
        <div class="owl-carousel" data-items="[1,1]" data-autoplay="true" data-dots="true" data-loop="true" data-margin="50">   
          <% @comments.each do |comment| %>
            <% if comment.golf_id == @golf.id %>
              <%= render 'comment', comment: comment %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>



