<%= render 'carsharings/header_inner_pages' %>
<section>
    <div class="container">
      <div class="row" style="margin-bottom:0;">
        <div class="col text-center">
          <h2>Covoiturages <b>proposés</b></h2><br>
        </div> 
      </div>
      <div class="btn center">
        <%= link_to "Accueil administrateur", admin_root_path, class: "btn btn-sm btn-secondary" %>
      </div>
      <div class="row">
        <div class="col">
          <div class="table-responsive-lg">
            <table class="table table-lined">
              <thead>
                <tr>
                  <th style="width:7%; padding:0; text-align:center;" scope="col"><b>#id</b></th>
                  <th style="width:20%; padding:0; text-align:center;" scope="col"><b>Golf</b></th>
                  <th style="width:30%; padding:0; text-align:center;" scope="col"><b>Description</b></th>
                  <th style="width:7%; padding:0; text-align:center;" scope="col"><b>Places</b></th>
                  <th style="width:15%; padding:0; text-align:center;" scope="col"><b>Conducteur</b></th>
                  <th style="width:7%; padding:0; text-align:center;" scope="col"><b>Prix</b></th>
                  <th style="width:7%; padding:0; text-align:center;" scope="col"><b>Validé</b></th>
                  <th style="width:7%; padding:0; text-align:center;" scope="col"><b>Action</b></th>
                </tr>
              </thead>
              <tbody>
                <% @carsharings.each do |carsharing|%>
                  <tr>
                    <td style="padding:20px 10px; text-align:center;"><%=carsharing.id%></td>
                    <td style="padding:20px 10px; text-align:center;"><%=Golf.find(carsharing.golf_id).name%></td>
                    <td style="padding:20px 10px;"><%=carsharing.description%></td>
                    <td style="padding:20px 10px; text-align:center;"><%=carsharing.places%></td>
                    <td style="padding:20px 10px; text-align:center;"><%=User.find(carsharing.driver_id).first_name%> <%=User.find(carsharing.driver_id).last_name%></td>
                    <td style="padding:20px 10px; text-align:center;"><%=carsharing.price == 0 ? "Gratuit" : "#{carsharing.price}€"%></td>
                    <td style="padding:20px 10px; text-align:center;"><%=carsharing.validated ? "Oui" : "Non" %></td>
                    <td style="padding:20px 10px; text-align:center;">
                      <% if carsharing.validated %>                      
                      <% else %>
                        <span title= "Validation"> <%= link_to '<i class="fas fa-eye fa-1x" style="color:black;"></i>'.html_safe, admin_carsharing_path(carsharing)%> </span>
                      <% end %>
                    </td>  
                  </tr>
                  <%end%>                                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</section>
