<%= render 'carsharings/header_inner_pages' %>
<section class='bg-gradient'>
  <div class="container">
    <div class='row' style="padding:0; margin:0; margin-top: 40px;">
      <div class='col-md-6'>
        <h2>Se connecter</h2>
      </div>
    </div>
    <div class="row" style="padding-top:0;">
      <div class="col">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-row mb-1">
            <div class="col">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-minimal', placeholder: 'Email' %>
            </div>

            <div class="col">
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control form-control-minimal', placeholder: 'Mot de passe' %>
            </div>
          </div>
          <%= render "devise/shared/password_forgotten" %>
          <% if devise_mapping.rememberable? %>
            <div class="col">
              <%= f.check_box :remember_me %>
              <%= f.label :se_souvenir_de_moi %>
            </div>
          <% end %>

          <div class="form-row mt-3">
            <div class='col'>
              <%= f.submit "Connexion", class: 'btn btn-primary px-5' %>
               <%= link_to 'Inscription', new_user_registration_path, class: 'btn btn-outline-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>