<div class="col-md-6 col-lg-5">
<div class="card"> 
   <div class="card-body">
    <div class="flex">
      <%= image_tag "profile-pic-test.jpg", class: "avatar" %>
      <div class="test">
        <h5 class="eyebrow mb-1"><%= carsharing.driver.first_name %> <%= carsharing.driver.last_name %> <i class="fas fa-star"></i> 4.5 - 5 avis </h5>
        <p class="card-title mb-0">Destination: Golf de Gonesse </p>
        <p class="card-title mb-0">Places dispo: <%= carsharing.places %> </p>
        <p class="card-title mb-0"> Départ de Paris le 21/03 à 13h00 </p>
      </div>
    </div>
    <hr>
     <p class="card-title mb-0">Je vais jouer à Gonesse pour faire 9T ce dimanche. Ambiance décontractée.</p>
    <hr>
      <a href="#" class="btn btn-primary center">Rejoindre le trajet de <%= carsharing.driver.first_name %></a>
   </div>
  </div>
</div>

