<div class="col-md-5">
  <div class="card"> 
   <div class="card-body">
    <div class="flex-space-between">    
      <div>
        <i class="fas fa-car-side fa-lg"></i> <%= carsharing.city.name %>
      </div>
      <div>
        <i class="fas fa-angle-double-right fa-lg"></i><i class="fas fa-angle-double-right fa-lg"></i><i class="fas fa-angle-double-right fa-lg"></i>
      </div>
      <div class="card-header-golf">
        <i class="fas fa-golf-ball fa-lg"></i> <%= link_to "#{carsharing.golf.name}", golf_path(carsharing.golf.id) %>
      </div>
    </div>
    <div class="flex-center" style="margin-top:20px; margin-bottom:15px;">
      <%= image_tag "profile-pic-test.jpg", class: "avatar" %>
    </div>
    <div class="flex-center">
      <% if reviews_nb_by_driver(carsharing.driver.id) == 0 %>
        <h5 class="eyebrow mb-1" style="margin-top:10px;"><%= carsharing.driver.first_name %> <%= carsharing.driver.last_name %> | Aucun avis </h5>
      <% else %>
        <h5 class="eyebrow mb-1" style="margin-top:10px;"><%= carsharing.driver.first_name %> <%= carsharing.driver.last_name %> <i class="fas fa-star"></i> <%= average_grade_by_driver(carsharing.driver.id) %> - <%= reviews_nb_by_driver(carsharing.driver.id) %> avis </h5>
      <% end %>
    </div>
    <div class="flex-center">
      <p> <%= link_to "Voir le profil >", user_path(carsharing.driver.id) %> </p>
    </div>
    <p class="card-title mb-0"><i class="fas fa-users fa-sm"></i> <%= carsharing.places - passengers_booked(carsharing.id) %> place(s) dispo </p>
    <p class="card-title mb-0"> <i class="far fa-clock fa-sm"></i> <%= carsharing.date.day %> <%= Date::MONTHNAMES[carsharing.date.month] %> à <%= carsharing.date.hour %>h<%= carsharing.date.min < 10 ? "0#{carsharing.date.min}": "#{carsharing.date.min}" %> </p>
    <hr class="w-25" style="margin-top:15px; margin-bottom:15px;">
    <p class="card-title mb-0"> <%= carsharing.description %> </p>
    <hr class="w-25" style="margin-top:15px; margin-bottom:15px;">
    <div class="flex-center">
      <% if current_user %>
        <%= render 'carsharings/stripe', carsharing: carsharing %>
      <% else %>
        <%= link_to "Rejoindre le trajet (#{carsharing.price == 0 ? "Gratuit" : "#{carsharing.price} €"})", new_user_session_path, class:"btn btn-outline-primary center" %>
      <% end %>
    </div>
   </div>
  </div>
</div>

