<div class='bg-gradient'>
  <div class="container">
    <div class="row" style="padding-top:0;">
      <div class="col">
        <%= form_tag carsharings_path, method: "post" do %>
          <div class="form-row mb-1">
            <div class="col">
              <%= label_tag 'Golf' %>
              <%= select_tag(:golf_id, options_for_select(Golf.pluck(:name, :id), target_blank: true )) %>
              <%= label_tag 'Ville' %>
              <%= select_tag(:city_id, options_for_select(City.pluck(:name, :id), target_blank: true )) %>
              <%= label_tag 'Nombres de places' %>
              <%= select_tag(:place, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4]])) %>
              <%= label_tag 'Prix' %>
              <%= select_tag(:price, options_for_select([['Gratuit', 0], ['5€', 5], ['10€', 10], ['15€', 15], ['20€', 20]])) %>
            </div>
            <div class="col">
              <%= label_tag 'Jour et heure du départ' %>
              <%= datetime_local_field_tag 'start_date', "" , class: 'form-control form-control-minimal', placeholder: 'Date'%>
              <%= text_area_tag 'description' , nil , class: 'form-control', placeholder: 'Description' %>            
            </div>
          </div>
          <div class="form-row mt-3">
            <div class='col'>
              <%= submit_tag "Nouveau covoiturage",  class: "btn btn-primary px-5" %>
            </div> 
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>