<%= form_tag carsharing_passengers_path(carsharing.id) do %>
    <script 
        src="https://checkout.stripe.com/checkout.js" 
        class="stripe-button"
        data-label="<%= "Rejoindre le trajet (#{carsharing.price == 0 ? "Gratuit" : "#{carsharing.price} €"})" %>"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-image=""
        data-name="<%= carsharing.golf.name %>"
        data-description="Paiement du covoiturage"
        data-amount="<%= (carsharing.price)*100 %>"
        data-currency="eur"
        data-email="<%= current_user.email %>"
        data-locale="auto">
    </script>
    <button class="btn btn-outline-primary center" type="submit">Rejoindre le trajet (<%= carsharing.price == 0 ? "Gratuit" : "#{carsharing.price} €" %>)</button><br>
<% end %>