<!-- photo & name -->

<section class="p-0 bg-light">
      <div class="image image-overlay image-cover" style="background-image:url(../../assets/images/demo/minimal/portfolio-bg-2.jpg)"
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(-250px);"></div>
      <div class="container">
        <div class="row justify-content-center align-items-end vh-50 mb-5">
          <div class="col col-md-10 col-lg-8">
            <div class="row align-items-center">
              <div class="col-4 col-lg-3">
                <%= image_tag "profile-pic-test.jpg", class: "mr-3 avatar avatar-xl rounded" %>
              </div>
              <div class="col">
                <div class="row align-items-center">
                  <div class="col-md-8">
                    <h2 class="mb-0"> <%=@carsharing.driver.first_name%> </h2>
                    <span class="text-muted"><i class="fas fa-star"></i> 4.5 - 5 avis</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

<!-- Summary -->



<div class="col-md-1 col-lg-5">
<div class="card"> 
   <div class="card-body">
    <div class="flex">
      <%= image_tag "profile-pic-test.jpg", class: "avatar" %>
      <div class="test">
        <p class="card-title mb-0"> covoiturage de  <%=@carsharing.driver.first_name%></p>
        <p class="card-title mb-0">Destination: Golf <%=@carsharing.golf.name%>  </p>
        <p class="card-title mb-0"> Départ <%=@carsharing.date%> le de Paris le 21/03 à 13h00 </p>
      </div>
    </div>
    <hr>
    <p class="card-title mb-0">Je vais jouer à Gonesse pour faire 9T ce dimanche. Ambiance décontractée.</p>
    <hr>
    <p class="card-title mb-0">Il reste <%=@carsharing.places%> places de disponible </p>
    <p class="card-title mb-0">le prix est de : <%=@carsharing.price%> € </p>
    <a href="" class="btn btn-sm btn-rounded btn-outline-green mt-2">Réserver</a>
   </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>