<header class="header-sticky header-dark Divheader" style="border-bottom:none;">
  <div style="padding-left:50px; padding-right:50px;">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">
        <%= image_tag "logo-temp.png", class: "navbar-logo navbar-logo-light" %>
        <%= image_tag "logo-temp.png", class: "navbar-logo navbar-logo-dark" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left part --> 
        <ul class="navbar-nav align-items-center mr-auto">
          <li class="nav-item">
            <%= link_to "Les golfs autour de moi", golfs_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Trouver un covoiturage", carsharings_path, class: "nav-link"%>
          </li>
        </ul>
        <!-- Right part --> 
        <% if current_user %>
        <ul class="navbar-nav align-items-center mr-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.first_name %> <%= current_user.last_name %> 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Mon profil", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Editer mon profil", edit_user_registration_path(current_user), class: "dropdown-item" %>
              <% if current_user.is_admin %>
                <%= link_to "Gestion administrateur", admin_root_path, class: "dropdown-item" %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to "Se déconnecter", destroy_user_session_path, method: "DELETE", class: "dropdown-item" %>
            </div>
          </li>
        </ul>
        <% else %>
         <ul class="navbar-nav align-items-center mr-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Accéder à mon compte
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
              <%= link_to "S'inscrire", new_user_registration_path, class: "dropdown-item" %>
          </li>
        </ul>
        <% end %>
      </div>
    </nav>
  </div>
</header>
