<!DOCTYPE html>
<html>
  <head>
    <title>19ème Trou</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= favicon_link_tag asset_path('logo-temp.png') %>
    <link rel="icon" type="image/png" href="../assets/images/logo-temp.png">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash'%>
    <%= yield %>
    <div>
    <%= render 'layouts/footer'%>    
    <div>
  </body>
</html>